---
title: News
hero: true
---

<article class="news news-index-post">
  <header>
    <h1><a href="#">Garry Oak Project Results</a></h1>
    <div class="meta">
      <span class="author">Griffin Yundt</span>
      <span class="time"><time><%= Time.now().strftime("%B %d, %Y"); %></time></span>
      <span class="taxonomy"><a href="#">Garry Oak</a>, <a href="#">Follow-up</a></span>
    </div>
  </header>
  <div class="excerpt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
  </div>
</article>
<article class="news news-index-post">
  <header>
    <h1><a href="#">Something Else Really Interesting</a></h1>
    <div class="meta">
      <span class="author">Jared Saxby</span>
      <span class="time"><time><%= Time.now().strftime("%B %d, %Y"); %></time></span>
      <span class="taxonomy"><a href="#">A Category</a>, <a href="#">LOLCats</a></span>
    </div>
  </header>
  <div class="excerpt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
  </div>
</article>